
#teamIntroText{
    text-align: center;
    font-weight: bold;
    padding-bottom: 5vh;
}

.teamProfileImg{
    width: 20vh;
    height: 20vh;
    padding: 10px;
    padding-top: 15px;
}

.cardTitle {
    text-align: center;
}
.maintence-cards-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    width: 60vw;
    margin: 0 auto;
}

.maintence-card{
    width: 17vw;
}

@media (max-width: 1150px) {
    .maintence-card{
        width: 180px;
    }
}