.teamProfileImg{
    width: 20vh;
    height: 20vh;
    padding: 10px;
    padding-top: 15px;
}

#teamIntroText{
    text-align: center;
    font-weight: bold;
    padding-bottom: 5vh;
}
.team-cards-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    width: 80vw;
    margin: 0 auto;
}
.team-card{
    width: 35vw;

}
@media (max-width: 1434px) {
    .team-card{
        width: 345px;
    }
 }
 