#missionText{
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.missionCard{
    /* height: 500px; */
    padding-bottom: 30;
    text-align: "center";
    margin-bottom: 20vh;
}