#jumboBar{
    background-color: #4DB6AC;
    height: 45vh;
    border-top: tan solid 15px;
    border-bottom: tan solid 15px;
}

#rentalImg{
    width: 660px;
    height: 350px;
    float: left;
    padding-left: 7vw;
    padding-top: 4vh;
}

#rentalTitle{
    color: white;
    font-weight: bold;
    padding-top: 8vh;
}

#applyNow{
    color: white;
    border: 0px;
    height: 40px;
    width: 100px;
}

#rentalHeadingText{
    color: white;
}