.card-title {
    font-size: 30px;
}

.house-img {
    border : solid 2px teal ;
}

.elderPdf{
    max-height: 300px;
    max-width: 300px;
}

.elderPdf:hover{
    opacity: 0.85;
}

#applyNow{
    color: white;
    background-color: #B71C1C;
    border: 0px;
    height: 40px;
    width: 100px;
}

#applyNow:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #EF5350;
    color: black;
    cursor: pointer;
}